body {
    margin: 0;
}
.image {
    width: 80%;
    height: 900px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 30% 70%, 25% 75%, 20% 70%, 0 70%);
    border-radius: 220px;
}
.banner {
    width: 100%;
    height: 450px;
    background: url(../img/toyota-corolla-glavnaya.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    
    .menu {
        width: 100%;
        height: 70px;
        display: flex;
        

        &__item {
            height: 100%;
            flex: 1;
            background: rgba(255, 255, 255, .9);
            margin: 0 5px;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            display: flex;
            transition: .4s;
            cursor: pointer;

            &:hover {
                clip-path: polygon(0 0, 45% 0, 50% 30%, 55% 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
}
.flipcard {
    width: 250px;
    height: 350px;
    position: absolute;
    cursor: pointer;
    perspective: 500px;

    .card {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        transition: .5s;
    }
    .front {
        background-color: red;
    }
    .back {
        background-color: green;
        transform: rotateY(180deg);
    }
    &:hover .front {
        transform: rotateY(-180deg);
    }
    &:hover .back {
        transform: rotateY(0);
    }
}